* {
    margin: 0 0;
}

body {
    animation: rainbowbg 60s infinite;
    overflow: hidden;
}

#b0{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);;
}
.bc {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0005;
    animation: circl 12s ease-in-out 0s infinite;
}
#b2 {    height: 90%;    animation-delay: 0.5s;}
#b3 {    height: 80%;    animation-delay: 1s;}
#b4 {    height: 71%;    animation-delay: 1.5s;}
#b5 {    height: 64%;    animation-delay: 2s;}
#b6 {    height: 58%;    animation-delay: 2.5s;}

#spc{
    position: absolute;
    left: 50vw;
    top: 50vh;
}
#gm{
    position: absolute;
    background-color: rgba(132, 172, 216, 0.429);
    aspect-ratio: 0.75;
    border: 2px green;

}
@media (orientation: landscape){/*widther*/
    #gm{
        height: 90vh;
        top:-45vh;
        left: -32.5vh;
    }
}
@media (orientation: portrait){/*higher*/
    #gm{
        width: 70vw;
        left: -35vw;
        top: -46.5vw;
    }
}

@keyframes rainbowbg {
    0% {background-color: #07f;}
    20% {background-color: #0ff;}
    40% {background-color: #1f0;}
    60% {background-color: #fe0;}
    80% {background-color: #f08;}
    100% {background-color: #07f;}
  }

@keyframes circl {
    0% {top:0vh;}
    25% {top:-10vh;}
    50% {top:-2vh;}
    75% {top:-10vh;}
    100% {top:0vh;}

}